T24Adapter/IF20190121-CUST.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.temenos.com/T24/event/Common/EventCommon" xmlns="http://www.temenos.com/T24/event/IF20190121/CUST" elementFormDefault="qualified" targetNamespace="http://www.temenos.com/T24/event/IF20190121/CUST"><xsd:import namespace="http://www.temenos.com/T24/event/Common/EventCommon" schemaLocation="Common-EventCommon.xsd"/><xsd:element name="CUST"><xsd:complexType><xsd:sequence><xsd:element ref="eventCommon" minOccurs="1" maxOccurs="1"/><xsd:element ref="id" minOccurs="0" maxOccurs="1"/><xsd:element ref="shortNameList" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="eventCommon" type="ns0:EventCommon"/><xsd:element name="id" type="xsd:decimal"><xsd:annotation><xsd:appinfo><t24source application="CUSTOMER" field="@ID"/></xsd:appinfo></xsd:annotation></xsd:element><xsd:element name="shortNameList"><xsd:complexType><xsd:sequence><xsd:element name="shortName" minOccurs="0" maxOccurs="unbounded"><xsd:annotation><xsd:appinfo><t24source application="CUSTOMER" field="SHORT.NAME"/></xsd:appinfo></xsd:annotation><xsd:complexType><xsd:simpleContent><xsd:extension base="xsd:string"><xsd:attribute name="language" type="xsd:string"/></xsd:extension></xsd:simpleContent></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>